{% extends 'layout/template.html.twig' %}

{% block title %}Client{% endblock %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Ajouter Client</h3>
    </div>
    <!-- /.card-header -->
   
    <!-- form start -->
    <form id="quickForm" method="post" action="">
        <div class="card-body">
        <div class="form-group">
          <label for="nom">nom</label>
          <input type="text" name="nom" class="form-control" id="nom" placeholder="Enter nom">
        </div>

        <div class="form-group">
          <label for="prenom">prenom</label>
          <input type="text" name="prenom" class="form-control" id="prenom" placeholder="Etrer prenom">
        </div>

        <div class="form-group">
          <label for="mail">mail</label>
          <input type="text" name="mail" class="form-control" id="mail" placeholder="Etrer mail">
        </div>

        <div class="form-group">
          <label for="tel">téléphone</label>
          <input type="text" name="tel" class="form-control" id="tel" placeholder="Etrer téléphone">
        </div>

        <div class="form-group">
          <label for="adr_p">adresse personnelle</label>
          <input type="text" name="adr_p" class="form-control" id="adr_p" placeholder="Etrer adresse personnelle">
        </div>
        
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
    </form>
  </div>
  {% endblock %}

